h1, h2 {
	font-family: 'supcom';
}

.navbar-brand {
  padding-top: 8px;
}

body { 
  padding-top: 50px; 
}

.secondary a {
  color: #666;
}

.panel-transparent {
	background: rgba(0, 0, 0, 0.5);
	padding: 5px;
}